:root {
  --randomRainbow: red;
}
html, body {
  margin:0; 
}
body, button, input {
	font-family: 'Shadows Into Light', cursive;
	background: #777;
  color: white;
}
ul {
	list-style-type: none;
	margin: 5px;
	padding: 0;

	display: flex;
	justify-content: space-between;
	align-items: center;
}
#title{
	font-size: 40px;
	margin-left: 50px;
  text-shadow: 1px 1px 2px black; 
}
#title:hover{
  color: var(--randomRainbow);
  transition:.1s;
}
#buttons {
  margin-right: 25px;
}
button {
  background-color: #222;
  font-size: 16px;
  border-radius: 2px;
  border-style: none;
  box-shadow: 1px 1px 3px black; 
}
button:hover{
  color: var(--randomRainbow);
  transition:.1s;
}
button:active{
  box-shadow:none;
  background-color:black;
}
#draw{
	border: 2px outset #bbb; 
  background: silver; /*default background if nothing else works*/
	background: -webkit-linear-gradient(top left,red,orange,yellow,green,blue,indigo,violet,red,orange,yellow,green,blue,indigo,violet);
	background: -o-linear-gradient(top left,red,orange,yellow,green,blue,indigo,violet,red,orange,yellow,green,blue,indigo,violet);
	background: -moz-linear-gradient(top left,red,orange,yellow,green,blue,indigo,violet,red,orange,yellow,green,blue,indigo,violet);
	background: linear-gradient(to bottom right, red,orange,yellow,green,blue,indigo,violet,red,orange,yellow,green,blue,indigo,violet); 

  margin: auto;
  display: block;
}

/*Slider*/
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 2px black; 
  background: #222;
  border-radius: 1.3px;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 2px black; 
  border: 0px;
  height: 30px;
  width: 4px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #111;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 2px black; 
  background: #222;
  border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 2px black; 
  border: 0px;
  height: 30px;
  width: 4px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #222;
  border: 0.2px solid #222;
  border-radius: 2.6px;
  box-shadow: 1px 1px 2px black; 
}
input[type=range]::-ms-fill-upper {
  background: #222;
  border: 0.2px solid #222;
  border-radius: 2.6px;
  box-shadow: 1px 1px 2px black; 
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 2px black; 
  border: 0px;
  height: 30px;
  width: 4px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #111;
}
input[type=range]:focus::-ms-fill-upper {
  background: #111;
}
